<html>

<head>
	<title>$title$</title>
	<link rel="stylesheet" href="$root_path$$css$">
	<meta http-equiv="Content-Type" content="text/html">

	<!-- MathJax -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


</head>

<body>
	<div>
		<a href="$root_path$index.html">Wiki</a> > $title$
	</div>
	<hr />
	$body$
	<hr />
	<div>
		<a href="$root_path$index.html">Wiki</a> > $title$
		</ol>
	</div>
	</div>
</body>
</html>
