<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{{ base_url }}/static/main.css">
	<link href="{{ base_url}}/static/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
	<link rel="stylesheet" href="{{ base_url }}/static/highlight/styles/gruvbox-dark.css">


	<!-- add after bootstrap.min.css -->
	<link rel="stylesheet" href="{{ base_url }}/static/bootstrap-toc.css" />

	<!-- MathJax -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<script>
		window.MathJax = {
			tex: {
				inlineMath: [['$', '$'], ['\\(', '\\)']]
			}
		};
	</script>


	<style>
		.headpanel {
		    background-image: "static/head_bg.jpg";
		    background-size: cover;
		    background-repeat: no-repeat;
		}
	</style>

	{% if title %}
		<title>WIKI - {{ title }} </title>
	{% else %}
		<title>WIKI</title>
	{% endif %}



</head>


<body>


{#
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">WIKI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
		  <a class="nav-link" href="{{ base_url }}/index.html">Home <span class="sr-only">(current)</span></a>
      </li>


    </ul>

  </div>
</nav>
#}


	<!--JavaScript at end of body for optimized loading-->
<script src="{{ base_url }}/static/js/bootstrap.bundle.min.js"></script>
<script src="{{ base_url }}/static/js/run_prettify.js"></script>
	<!-- add after bootstrap.min.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ base_url }}/static/bootstrap-toc.min.js"></script>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ base_url }}/index.html">{{ name }}</a>
	  <span class="nav-text text-primary">{{ bread_crums }}</span>
</nav>



	{% if cover %}
	<div class="jumbotron jumbotron-fluid"
		 style="background: url({{ cover }}); background-size: cover; height: 400px">
	</div>
	{% endif %}



	<main role="main" class="container">
		<div class="row justify-content-left">

			<div class="col-sm-12 col-md-3">
				<nav id="toc" class="sticky-top"></nav>
			</div>

			<div class="col-lg-8">
				{% block content %} {% endblock content %}
			</div>

		</div>
	</main>




<script src="{{ base_url }}/static/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
	// display image alt on hover
	var img = document.getElementsByTagName("img");

	for (var i = 0; i < img.length; i++) {
		img[i].setAttribute("title", img[i].getAttribute("alt"));
	  //img[i].addEventListener("mouseover", function() {
		//var alt = this.alt;
	  //});
	}

	// add "text-justify" class to p
	var paragraphs = document.getElementsByTagName("p");
	for (var i = 0; i < paragraphs.length; i++) {
		paragraphs[i].setAttribute("class", "text-justify");
	}


</script>

	<script>
		$(function() {
		  var navSelector = "#toc";
		  var $myNav = $(navSelector);
		  Toc.init($myNav);
		  $("body").scrollspy({
			target: navSelector
		  });
		});
	</script>


</body>
</html>
