<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% if title %}
			<title>{{ title }} </title>
		{% endif %}
		<link rel="stylesheet" href="{{ base_url }}/static/css/reveal.css">
		<link rel="stylesheet" href="{{ base_url }}/static/css/dark_prez.css">
		<link rel="stylesheet" href="{{ base_url }}/static/highlight/styles/gruvbox-dark.css">

	<!-- MathJax -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<script>
		window.MathJax = {
			tex: {
				inlineMath: [['$', '$'], ['\\(', '\\)']]
			}
		};
	</script>

	</head>
	<body>

		<div class="reveal">
			<div class="slides">

                <section data-markdown data-separator="^\n\n\n" data-separator-vertical="^\n\n">
{{ mdfile }}
				</section>

			</div>
		</div>

		<script src="{{ base_url }}/static/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>

		<script src="{{ base_url }}/static/js/reveal.js"></script>
        <script src="{{ base_url }}/static/js/reveal_markdown.js"></script>
		<script>
			Reveal.initialize({
							controls: true,
							plugins: [RevealMarkdown]
						});
		</script>

	</body>
</html>

